@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #dddddd;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #5c5c7b;
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #7878a3;
}

/* Utility classes */
.text-10 {
  font-size: 10px;
  line-height: 14px;
}

.text-12 {
  font-size: 12px;
  line-height: 16px;
}

.text-14 {
  font-size: 14px;
  line-height: 20px;
}

.text-16 {
  font-size: 16px;
  line-height: 24px;
}

.text-18 {
  font-size: 18px;
  line-height: 22px;
}

.text-20 {
  font-size: 20px;
  line-height: 24px;
}

.text-24 {
  font-size: 24px;
  line-height: 30px;
}

.text-26 {
  font-size: 26px;
  line-height: 32px;
}

.text-30 {
  font-size: 30px;
  line-height: 38px;
}

.text-36 {
  font-size: 36px;
  line-height: 44px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-2 {
  font-size: 18px;
  font-weight: 600;
  color: #111827;
}

.input-class {
  font-size: 16px;
  line-height: 24px;
  border-radius: 0.5rem;
  border: 1px solid #d1d5db;
  color: #111827;
  padding: 0.5rem 0.75rem;
}

.input-class::placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #6b7280;
}

.sheet-content button {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  -webkit-appearance: none !important;
}

.text14_padding10 {
  font-size: 14px;
  padding: 10px 16px;
  font-weight: 600;
}

